<div id="editor-container">
  <div>

    <button class="button button-outline">Export</button>
    
    <button class="button button-outline">Import</button>
    
  </div>
  <div
    *ngIf="if_layer_drag"
    id="dragged_layer"
    [style.left]="return_leftpos()"
    [style.top]="return_toppos()"
  >
    {{dragged_layer.name}}
  </div>
  <div *ngIf="current_mode=='move'">
    <div>
      <p>
        Color
      </p>
      <input
        type="text"
        [(ngModel)]="elements[current_index].color.r"
        placeholder="r"
      />
      <input
        type="text"
        [(ngModel)]="elements[current_index].color.g"
        placeholder="g"
      />
      <input
        type="text"
        [(ngModel)]="elements[current_index].color.b"
        placeholder="b"
      />
    </div>
    <div>
      <p>
        Radius
      </p>
      <input
        type="text"
        [(ngModel)]="elements[current_index].rx"
        placeholder="r"
      />
      <input
        type="text"
        [(ngModel)]="elements[current_index].ry"
        placeholder="r"
      />
    </div>

    <div>
      <p>
        Center
      </p>
      <input
        type="text"
        [(ngModel)]="elements[current_index].x"
        placeholder="r"
      />
      <input
        type="text"
        [(ngModel)]="elements[current_index].y"
        placeholder="r"
      />
    </div>
  </div>

  <div>
    <p>
      Layer
    </p>
    <div id="layer-container">
      <ul>
        <ng-container *ngFor="let element of elements; let i = index;">
          <li
            [class.movingover-element]="movingover_index == i && if_layer_drag"
            *ngIf="i != current_layer_index  || !if_layer_drag"
            (mousemove)="layer_mousemove($event, i)"
            (mouseup)="layer_mouseup($event, i)"
            (mousedown)="layer_mousedown($event, i)"
            (dblclick)="layer_dblclick($event, i)"
          >
            <ng-container *ngIf="dblclick_index==i">
              <input type="text" [(ngModel)]="element.name" id="layer-input" />
            </ng-container>
            <ng-container *ngIf="dblclick_index!=i">
              {{element.name}}
            </ng-container>
          </li>
        </ng-container>
        <li
          [class.movingover-element]="movingover_index == -1 && if_layer_drag"
          (mouseup)="layer_mouseup($event, -1)"
          (mousemove)="layer_mousemove($event, -1)"
        ></li>
      </ul>
    </div>
    <div>
      <button class="button button-outline">group</button>
    </div>
  </div>
</div>
