

svg {
    border: 1px solid black;
}

#container {
    display: flex;
}

#svg-container {
}

#layer-container {
    flex: 0 0 200px;
    border: 1px solid black;
    height: 100vh;

}

#editor-container {
    border: 1px solid black;
    flex:0 0  200px;
    height: 100vh;
}


.unselected-element {
    pointer-events: none;
}

