svg {
  border: 1px solid #606c76;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translateY(-50%);
}

#container {
  display: flex;
}

#svg-container {
  flex-grow: 4;
  height: 100vh;
  overflow: scroll;
}

#svg-container-container {
  width: 2000px;
  height: 2000px;
}

.unselected-element {
  pointer-events: none;
}
