<div
  id="container"
  (mouseup)="mouseup($event)"
  (mousemove)="mousemove($event)"
  (mousedown)="mousedown($event)"
  (keydown)="keydown($event)"
  tabindex="0"
>
  <app-tools></app-tools>
  <div id="svg-container">
    <div id="svg-container-container">
      <svg
        id="mysvg"
        width="300"
        height="300"
        (mousemove)="svg_mousemove($event)"
        (mouseup)="svg_mouseup($event)"
        (mousedown)="svg_mousedown($event)"
      >
        <ng-container *ngFor="let element of elements; let i = index;">
          <ng-container *ngIf="element.kind=='ellipse'">
            <ellipse
              [class.unselected-element]="current_index != i && ifdrag"
              (mousemove)="svg_mousemove($event)"
              (mouseup)="svg_mouseup($event)"
              (mousedown)="element_mousedown($event, i)"
              [attr.cx]="element.x"
              [attr.cy]="element.y"
              [attr.rx]="element.rx"
              [attr.ry]="element.ry"
              [attr.fill]="rgb_color(element.color)"
            />

            <ng-container *ngIf="current_index == i">
              <rect
                [class.unselected-element]="current_index != i && ifdrag"
                [attr.x]="element.x - element.rx"
                [attr.y]="element.y - element.ry"
                [attr.width]="element.rx*2"
                [attr.height]="element.ry*2"
                stroke-width="1"
                stroke="gray"
                fill="none"
              />
              <rect
                *ngFor="let cursor_box of cursor_boxs;"
                [class.unselected-element]="current_index != i && ifdrag"
                (mousemove)="svg_mousemove($event) "
                (mouseup)="svg_mouseup($event)"
                (mousedown)="cursor_mousedown($event, cursor_box)"
                [attr.x]="element.x + calc_cursor_offset_x(cursor_box, element)"
                [attr.y]="element.y + calc_cursor_offset_y(cursor_box, element)"
                [attr.width]="cursor_box_size"
                [attr.height]="cursor_box_size"
                stroke-width="1"
                stroke="gray"
                fill="white"
              />
            </ng-container>
          </ng-container>
          <ng-container *ngIf="element.kind=='square'">
            <rect
              [class.unselected-element]="current_index != i && ifdrag"
              (mousemove)="svg_mousemove($event)"
              (mouseup)="svg_mouseup($event)"
              (mousedown)="element_mousedown($event, i)"
              [attr.x]="element.x - element.rx"
              [attr.y]="element.y - element.ry"
              [attr.width]="element.rx*2"
              [attr.height]="element.ry*2"
              [attr.fill]="rgb_color(element.color)"
            />

            <ng-container *ngIf="current_index == i">
              <rect
                [class.unselected-element]="current_index != i && ifdrag"
                [attr.x]="element.x - element.rx"
                [attr.y]="element.y - element.ry"
                [attr.width]="element.rx*2"
                [attr.height]="element.ry*2"
                stroke-width="1"
                stroke="gray"
                fill="none"
              />
              <rect
                *ngFor="let cursor_box of cursor_boxs;"
                [class.unselected-element]="current_index != i && ifdrag"
                (mousemove)="svg_mousemove($event) "
                (mouseup)="svg_mouseup($event)"
                (mousedown)="cursor_mousedown($event, cursor_box)"
                [attr.x]="element.x + calc_cursor_offset_x(cursor_box, element)"
                [attr.y]="element.y + calc_cursor_offset_y(cursor_box, element)"
                [attr.width]="cursor_box_size"
                [attr.height]="cursor_box_size"
                stroke-width="1"
                stroke="gray"
                fill="white"
              />
            </ng-container>
          </ng-container>
          <ng-container *ngIf="element.kind=='path'">
            <path
              [class.unselected-element]="current_index != i && ifdrag"
              [attr.d]="points_to_path(element.points)"
              (mousedown)="element_mousedown($event, i)"
              stroke-width="3"
              stroke="red"
              fill="none"
            />
            <ng-container *ngIf="current_index == i">
              <ng-container
                *ngIf="get_square_of_path(element.points) as center_radius"
              >
                <rect
                  [class.unselected-element]="current_index != i && ifdrag"
                  [attr.x]="center_radius.x - center_radius.rx"
                  [attr.y]="center_radius.y - center_radius.ry"
                  [attr.width]="center_radius.rx*2"
                  [attr.height]="center_radius.ry*2"
                  stroke-width="1"
                  stroke="gray"
                  fill="none"
                />
                <rect
                  *ngFor="let cursor_box of cursor_boxs;"
                  [class.unselected-element]="current_index != i && ifdrag"
                  (mousemove)="svg_mousemove($event) "
                  (mouseup)="svg_mouseup($event)"
                  (mousedown)="cursor_mousedown($event, cursor_box)"
                  [attr.x]="center_radius.x + calc_cursor_offset_x(cursor_box, center_radius)"
                  [attr.y]="center_radius.y + calc_cursor_offset_y(cursor_box, center_radius)"
                  [attr.width]="cursor_box_size"
                  [attr.height]="cursor_box_size"
                  stroke-width="1"
                  stroke="gray"
                  fill="white"
                />
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </svg>
    </div>
  </div>
  <app-editor id="layer-container"></app-editor>
</div>
